<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>פרויקט גמר</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="welcome-container">
        <h1>ברוכים הבאים לפרויקט הגמר שלנו</h1>
        <p>חדשנות עירונית בבאר שבע, בשילוב חיישני צל וטכנולוגיות מתקדמות</p>
        <button onclick="location.href='/map';">היכנס</button>

    </div>
</body>
</html>
